<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--

	Purpose of software:
		To extract dN, dE, dH from the monitoring database for a defined time period
		To generate the mean value for dN, dE, dH for that period
		To write the the deltas to the worksheets
		To populate the history worksheet

	Supporting Software
		The master excel spreadsheet is needed

	Preparation:
		Obtain the project title from T4D Web Administration/Projects
		Update the config file (first set prepareDisplacementReport to Yes)
		Populate the master spreadsheet with the point names of the targets for which deltas are required
		Run the software to write the sensorID reference to the reference worksheet
	
		set prepareDisplacementReport to No (this is how the software will run daily)

		The sensorID is read for each point
		The deltas are extracted for each point
		The mean deltas are generated
		The workbook is updated

	Output:
		The updated workbook is exported by email
		
	-->


	<connectionStrings>
		<add name="DBconnectionString_ireland" connectionString = "Server=T4DIRE\SQLEXPRESS;Initial Catalog=TPPDBmonitoring;Integrated Security=True"  providerName="System.Data.SqlClient"  />

		<add name="DBconnectionString" connectionString ="Server=LAPTOP-H725LP7K\SQLEXPRESS_T4DV6;Database=T4DDBmonitoring; User Id=sa;Password=Tr1mbl3;Integrated Security=True; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- Software License -->
		<add key="SoftwareLicenseTag" value="DSPRPT"/>

		<!-- Project settings -->

		<add key="ProjectTitle" value="Lawley Viaduct" />
		<add key="ContractTitle" value="Lawley Viaduct" />
		<add key="ReportType" value="Structural Displacement Report" />

		<add key="CoordinateOrder" value="ENH" />
		<add key="checkWorksheetsExist" value="No" />
		<add key="LockWorkbook" value="No" />


		<add key="CoordinateOrder" value="ENH" />
		<add key="units" value="m" />     <!-- (m/mm) end product in meters (m) or millimeters (mm) -->

		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\_DisplacementReport\" />
		<add key="ExcelFile" value="Lawley_Displacement_master.xlsx" />

		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference worksheet -->
		<add key="FirstDataCol" value="6" /><!-- Column which contains dE in the Reference worksheet -->
		<add key="FirstOutputRow" value="7" /><!-- First row of data in the displacement and historic data worksheets -->

		<!-- Excel worksheets-->
		<add key="CurrentDisplacementWorksheet" value="Current Displacement" />
		<add key="HistoricDsWorksheet" value="Historic dS" />
		<add key="HistoricDhWorksheet" value="Historic dH" />
		<add key="Worksheet4" value="blank" />
		<add key="Worksheet5" value="blank" />

		<add key="ReferenceWorksheet" value="Reference" />
		<add key="SurveyWorksheet" value="Survey" />
		<add key="CalibrationWorksheet" value="Calibration check" />

		<!-- Timeblock settings, TimeStart is earlier than TimeEnd, TimeEnd is closer to TimeNow -->

		<add key="TimeBlockType" value="Manual" />  <!-- Manual, Schedule -->
		<add key="manualBlockStart" value="'2022-08-24 00:00'" />
		<add key="manualBlockEnd" value="'2022-08-25 23:59'" />

		<add key="HistoricReportTimeStart" value="2022-06-06 00:00"/>
		<add key="HistoricReportTimeEnd" value="2022-02-24 00:00" />

		<add key="NoOfEpochsHistoricData" value="4" />	<!-- No of columns of historic data in the historic worksheet -->
		<add key="NoOfTimeBlocksPerReport" value="4"/>	<!-- This should match NoOfEpochsHistoricData - this is a software error and must be fixed at some stage... -->

		<add key="TimeOffsetHrs" value="0" /><!-- (scheduler) BlockEndTime = TimeNow - TimeOffset;BlockStartTime = BlockEndTime - BlockSize  -->
		<add key="BlockSizeHrs" value="8" /><!-- For reference data, BlockSizeHrs must be large, for rest: it must match the scheduler interval  -->


		<!-- eMail settings  -->
		<add key="SendEmails" value="No" />
		<add key="EmailFrom" value="T4DSMLGroup@gmail.com"/>
		<add key="EmailLogin" value="T4DSMLGroup@gmail.com"/>
		<add key="EmailPassword" value="MonitoringT4D"/>
		<add key="EmailRecipients" value="gna.geomatics@gmail.com" />
		<add key="EmailRecipients2" value="Jakub.Cygan@Geo-Info.info, Ladislav.Pexa@Geo-Info.info, gna.geomatics@gmail.com" />

		<add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />
		<add key="MailLicenseCode" value="ES-E1582190613-00131-72B1E1BD67B73FVA-C5TC1DDC612457A3"/>

	</appSettings>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.7.5.0" newVersion="5.7.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EASendMail" publicKeyToken="88adb80ecd66540b" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.7.1.1" newVersion="7.7.1.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>





</configuration>