<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--

	Purpose of software:
		To extract dN, dE, dH from the monitoring database for a defined time period
		To generate the mean value for dN, dE, dH for that period
		To write the the deltas to the worksheets
		To populate the history worksheet

	Supporting Software
		The master excel spreadsheet is needed

	Preparation:
		Obtain the project title from T4D Web Administration/Projects
		Update the config file (first set prepareDisplacementReport to Yes)
		Populate the master spreadsheet with the point names of the targets for which deltas are required
		Run the software to write the sensorID reference to the reference worksheet
	
		set prepareDisplacementReport to No (this is how the software will run daily)

		The sensorID is read for each point
		The deltas are extracted for each point
		The mean deltas are generated
		The workbook is updated

	Output:
		The updated workbook is exported by email
		
	-->


	<connectionStrings>
		<add name="DBconnectionString_ireland" connectionString = "Server=T4DIRE\SQLEXPRESS;Initial Catalog=TPPDBmonitoring;Integrated Security=True"  providerName="System.Data.SqlClient"  />
    <add name="DBconnectionString" connectionString ="Server=LAPTOP-ASPIRE5\SQLEXPRESS;Database=T4DDBMonitoring;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>

		<!-- Yes/No -->
		<add key="freezeScreen" value="No" /><!-- Yes / No -->
    <add key="DrawCharts" value="No"/>
    <add key="computedRdT" value="Yes"/>
    <add key="SendEmails" value="No" />
    <add key="discreteTriggerColors" value="No" />
		<add key="ManualSurvey" value="Yes" />

    <!--Software license expires 20261201 -->
    <add key = "LicenseCode" value = "HgkKCAoOaGxraGpr" />

    <!-- Client -->
    <add key="Client1" value="JWG" />
    <add key="Client" value="Techsol" />
    
		<!-- Project settings -->
		<add key="ProjectTitle" value="Retaining Wall" />
		<add key="ContractTitle" value="ODV2" />
		<add key="ReportType" value="Structural Displacement Report" />
		<add key="CoordinateOrder" value="ENH" />
		<add key="units" value="mm" /><!-- The units that must appear in the historic worksheets -->
    <add key="TimeBlockType" value="Historic" /><!-- Schedule, Manual, Historic -->
    <add key="BlockSizeHrs" value="6" /><!-- For reference data, BlockSizeHrs must be large, for rest: it must match the scheduler interval  -->
    <add key="manualBlockStart" value="'2025-02-26 06:00'" />
    <add key="manualBlockEnd" value="'2025-03-13 06:00'" />
    <add key="debug" value="No" />
    <add key="NoOfEpochsHistoricData" value="5000" /><!-- No of columns of historic data in the historic worksheet -->
    <add key="NoOfTimeBlocksPerReport" value="5000"/><!-- This should match NoOfEpochsHistoricData - this is a software error and must be fixed at some stage... -->
    <add key="checkForOutliers" value="No" />

    
    <!-- Reference displacement line -->
    <add key="ReferenceLineTerminalsEaNaEbNb" value="252540.2,6139696.8,252658.1,6139763.1" /> <!-- Ya,Xa,Yb,Xb Line parallel to the structure +R towards line, +T away from EaNa -->
    <add key="DataJumpTriggerLevel" value="0.100" />
    
		<!-- Folders -->
		<add key="SystemStatusFolder" value="C:\__SystemLogs\" />
		
		
		<!-- Excel workbook settings -->
		<add key="ExcelPath" value="C:\__SoftwareTest\Techsol\" />
		<add key="ExcelFile" value="SDR_Manual_master_20250814.xlsx" />
		<add key="FirstDataRow" value="2" /><!-- First row of data in the Reference worksheet -->
		<add key="FirstDataCol" value="6" /><!-- Column which contains dE in the Reference worksheet -->
		<add key="FirstOutputRow" value="7" /><!-- First row of data in the displacement and historic data worksheets -->

		<!-- Excel worksheets-->
    <add key="SurveyWorksheet" value="Survey" />
    <add key="ReferenceWorksheet" value="Reference" />
		<add key="CurrentDisplacementWorksheet" value="Current Displacement" />
    <add key="EmbankmentResultsWorksheet" value="Embankment Monitoring Results" />
		<add key="HistoricDsWorksheet" value="Historic dS" />
    <add key="HistoricDrWorksheet" value="Historic dR" />
    <add key="HistoricDtWorksheet" value="Historic dT" />
		<add key="HistoricDhWorksheet" value="Historic dH" />
		<add key="ChartsWorksheet_dR" value="Charts dR" />
    <add key="ChartsWorksheet_dT" value="Charts dT" />
    <add key="ChartsWorksheet_dH" value="Charts dH" />
		<add key="CalibrationWorksheet" value="Calibration check" />

		<!-- Timeblock settings, TimeStart is earlier than TimeEnd, TimeEnd is closer to TimeNow -->

		<add key="TimeOffsetHrs" value="0" /><!-- (scheduler) BlockEndTime = TimeNow - TimeOffset;BlockStartTime = BlockEndTime - BlockSize  -->
		
    <!-- SMS settings -->
    <add key="SMSTitle" value="Strand" />
    <add key="RecipientPhone1" value="+4917672997904" /><!-- None -->
    <add key="JAGstatus" value="No" />

    <!-- eMail settings -->

    <add key="emailTransmission" value="Monday" /><!-- All, Monday,Tuesday etc -->
    <add key="EmailFrom" value="techsol.monitoring@gmail.com" />
    <add key="EmailLogin" value="techsol.monitoring@gmail.com" />
    <add key="EmailPassword" value="fpfltllkmfdjglmh" />
    <add key="EmailRecipients" value="robmerry@techsol.ie, gna.geomatics@gmail.com" />
    <add key="emailMessage" value="This is an automated embankment displacement report issued by the monitoring system. Please do not reply to this email." />
    <add key="EPPlus:ExcelPackage.LicenseContext" value="Commercial" />

	</appSettings>

</configuration>